.AppContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.AppNotas {
    border: 3px solid white;
    border-radius: 5%;
    width: 500px;
    height: 300px;
    word-wrap: break-word;
    overflow: auto;
}
.AppForm {
    display: inline-flex;
    flex-direction: column;

}

.AppButton {
    margin-bottom: 50px;
}