.AppContainer{
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
    justify-content: space-around;
    text-align: center;
}
.AppNotas {
    border: 2px solid white;
    border-radius: 2px;
    width: 60%;
    height: 400px;
    word-wrap: break-word;
    overflow: auto;
}
.AppForm {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    word-wrap: break-word;
}

.label{
    font-size: 25px;
    color: rgb(255, 255, 255);
}
.input{
    width: 300px;
    border-radius: 10px;
}
.input-text{
    width: 100%;
    border-radius: 10px;
    height: 250px;
}
.AppButton {
    margin-bottom: 50px;
    background-color: transparent;
    width: 100px;
    border-radius: 12px;
    color:aliceblue;
    text-shadow: 1px 1px 2px black;
    border: 2px solid white;
    font-weight: 700;
    letter-spacing: 1px;
    box-shadow: -2px 2px 2px black;
}
.AppButton:hover{
    cursor: pointer;
    background-color: #fff;
    color: #000;
    transition: .5s;
}

@media screen and (max-width: 800px) {
    .AppContainer{
        flex-direction: column;
        align-items: center;
    }

    .AppNotas{
        width: 80%;
    }
  }